<div class="main" *ngIf="this.cityCService.closePooling">
  <h1>Voting Still Continue...</h1>
</div>
<div class="child" *ngIf=" !cityCService.closePooling">
  <h1 class="title">City C Results</h1>
  <!-- <div class="winner" *ngIf="!cityCService.closePooling">
    <h2>
      Winner :
      {{
        this.cityCService.cityWinner.name +
          " | " +
          this.cityCService.cityWinner.cityPosition +
          " | " +
          this.cityCService.cityWinner.vote
      }}
    </h2>
  </div> -->
  <div class="tablediv" >
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>City</th>
          <th>City Position</th>
          <th>Total Votes</th>
        </tr>
      </thead>
      <tbody *ngFor="let item of cityCService.cityCResult; index as i">
        <tr>
          <td>{{ item.name }}</td>
          <td>{{ item.city }}</td>
          <td>{{ item.cityPosition }}</td>
          <td>{{ item.vote }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
