<div class="main" *ngIf="this.cityAService.closePooling">
  <h1>Voting Still Continue...</h1>
</div>
<div class="child" *ngIf=" !this.cityAService.closePooling">
  <h1 class="title">City A Results</h1>
  <!-- <div class="winner" *ngIf="!this.cityAService.closePooling">
    <h2>
      Winner :
      {{
        this.cityAService.cityWinner.name +
          " | " +
          this.cityAService.cityWinner.cityPosition +
          " | " +
          this.cityAService.cityWinner.vote
      }}
    </h2>
  </div> -->
  <div class="tablediv">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>City</th>
          <th>City Position</th>
          <th>Total Votes</th>
        </tr>
      </thead>
      <tbody *ngFor="let item of cityAService.cityAResult;index as i">
        <tr>
          <td>{{ item.name }}</td>
          <td>{{ item.city }}</td>
          <td>{{ item.cityPosition }}</td>
          <td>{{ item.vote }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
